/* -----------------------banner------------------- */
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://allimages.sgp1.digitaloceanspaces.com/pedrovietnamcom/2020/04/shop-thoi-trang-nam-pedro.jpg);background-size: cover;height: 80vh;
}
.tieu_de {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    white-space: nowrap;
}
.button1 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    margin-left: 150px  ;
  }
 .button1:hover {
    color: #fff;
    text-decoration: none;
  }
 .button1 .btn1 {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
 .button1:hover .btn1 {
    background: transparent;
  }
  .btn3 {
    padding: 5px;
    outline: 0;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fdde5c),
      color-stop(#f8ab5e),
      color-stop(#f56a62),
      color-stop(#a176c8),
      color-stop(#759beb),
      color-stop(#65beb3),
      to(#70db96)
    );
    background: linear-gradient(
      to right,
      #fdde5c,
      #f8ab5e,
      #f56a62,
      #a176c8,
      #759beb,
      #65beb3,
      #70db96
    );
    border-radius: 30px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }
 .btn3 > span {
    display: block;
    padding: 10px 20px;
    font-size: 17px;
    background: #0e0e10;
    border-radius: 30px;
 }
 #bando{
     width: 100%;
     height: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }